<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>gz-ohaqyrf@znpebzngrf.pbz</string>
	<key>contactName</key>
	<string>Allan Odgaard</string>
	<key>description</key>
	<string>&lt;a href="http://en.wikipedia.org/wiki/Prolog"&gt;Prolog&lt;/a&gt; is a logic programming language. It is a general purpose language, which is especially associated with artificial intelligence and computational linguistics.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>38D17DB7-C0D3-4C05-BD10-A7F78D67DF03</string>
			<string>9206350F-2E58-4339-BF2E-0FF730B11B4B</string>
			<string>------------------------------------</string>
			<string>098C68B8-3CA3-4FDA-B56C-1B05E39DB60F</string>
			<string>E5A401DA-D74A-4F41-AA4C-AA2FDF7A13C3</string>
			<string>8424158B-AD81-40F3-BCFD-B0D8FB1ED80D</string>
			<string>238E350A-E0E6-45F3-A3C4-0E94D708F1E0</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>Prolog</string>
	<key>ordering</key>
	<array>
		<string>C0E2ADB0-1706-4A28-8DB7-263BDC8B5C5C</string>
		<string>38D17DB7-C0D3-4C05-BD10-A7F78D67DF03</string>
		<string>9206350F-2E58-4339-BF2E-0FF730B11B4B</string>
		<string>098C68B8-3CA3-4FDA-B56C-1B05E39DB60F</string>
		<string>E5A401DA-D74A-4F41-AA4C-AA2FDF7A13C3</string>
		<string>8424158B-AD81-40F3-BCFD-B0D8FB1ED80D</string>
		<string>238E350A-E0E6-45F3-A3C4-0E94D708F1E0</string>
	</array>
	<key>uuid</key>
	<string>101B21C6-132C-4811-BDCF-2B028860F681</string>
</dict>
</plist>
